* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 769px) {

    .container {
        background-color: #2948FF;
    }

    .box {
        background-color: #FFFFFF;
        width: 35vw;
        height: 45vh;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        padding: 10vh 4vw 15vh 4vw;
        position: absolute;
        top: 15%;
        left: 30%;
    }

    .line1 {
        display: flex;
        flex-direction: row;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #2948FF;
    }

    .line1 img {
        width: 2vw;
        height: 4vh;
        padding: 0 1vw 0 0;
    }

    .line2 {
        padding: 3vh 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 500;
        color:#0B132A;
    }

    .line3 {
        margin: 1vh 0 3vh 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color:#4F5665;
        line-height: 26px;
    }

    .line6 label {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #0B132A;
    }

    .line6 input {
        width: 82%;
        border: 1px solid #DEDEDE;
        border-radius: 8px;
        background-color: #FCFDFE;
        margin: 2vh 0;
        padding: 2vh 3.5vw;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.75px;
        color: #4F5665;
    }

    .email {
        background-image: url(email.png);
        background-repeat: no-repeat;
        background-position: 3% 50%;
    }

    .line6 p {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

    .line6 button {
        width: 100%;
        border: 1px solid #2948FF;
        border-radius: 6px;
        background-color: #2948FF;
        margin: 2vh 0;
        padding: 2vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
    }

}