* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding: 3vh 3vw;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2948FF;
}

nav img {
    width: 2vw;
    height: 4.5vh;
    padding: 0 1vw 0 0;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
}

.pp {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 2vw;
}

.pp img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    padding: 3vh 1vw 3vh 3vw;
    width: 20%;
}

.option1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2948FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border: 1px solid #2948FF;
    border-radius: 6px;
    margin: 2vh 0;
    padding: 1.5vh 1vw;
}

.option1 img, .option2 img, .option3 img {
    width: 2vw;
    height: 4.5vh;
    padding: 0 1vw 0 0;
}

.option2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    margin: 2vh 0;
    padding: 1.5vh 1vw;
}

.option3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #D00000;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    margin: 2vh 0;
    padding: 1.5vh 1vw;
}

.profile2 {
    width: 80%;
    padding: 7vh 3vw 1vh 3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0B132A;
    border-left: 1px solid #E8E8E8;
}

.line1 {
    display: flex;
    align-items: center;
}

.line1 img {
    width: 2vw;
    height: 4vh;
    padding: 0 1vw 0 0;
}

.container-profile {
    border: 1px solid #E8E8E8;
    margin: 5vh 0;
    padding: 8vh 2vw;
}

.text1-1 {
    display: flex;
    flex-direction: row;
    margin: 2vh 0;
}

.container-img {
    width: 10vw;
    height:20vh;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#change {
    margin: 2vh 2vw 1.5vh 2vw;
    padding: 1.5vh 1vw;
    border: 1px solid #2948FF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6%;
    color: #FFFFFF;
    background-color: #2948FF;
    width: 80%;
}

#delete {
    margin: 1.5vh 2vw 2vh 2vw;
    padding: 1.5vh 1vw;
    border: 1px solid #D00000;
    border-radius: 6px;
     display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6%;
    color: #D00000;
    background-color: #FFFFFF;
    width: 80%;
}

#change img, #delete img {
    margin: 0 1vw 0 0;
}

.text1 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4F5665;
}

.text2 {
    margin: 3vh 0 0 0;
}

.text2 form, .line2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0B132A;
    margin: 1vh 0;
}

.text2 input {
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    background-color: #FCFDFE;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4F5665;
    margin: 2vh 0;
    padding: 2vh 3.5vw;
    width: 87%;
}

#name {
    background-image: url(User4.png);
}

#phone {
    background-image: url(Phone3.png);
}

#email {
    background-image: url(email.png);
}

.line3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2948FF;
}

#text {
    margin-top: 5vh;
}

.text2 button {
    background-color: #2948FF;
    border: 1px solid #2948FF;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6%;
    color: #FFFFFF;
    margin: 2vh 0;
    padding: 2vh;
    width: 100%;
}